:root {
    --background-main: #F4F5F7;
    --background-secondary: #F7F7F7;
    --primary-main: #EBEEFF;
    --primary-dark: #332A7C;
    --secondary-main: #5AC070;
    --text-main: #353E6C;
    --text-secondary: #F7F7F7;
    --error: #DD586A;
}